<div class="container">
    <div class="row">
        <div class="text-center">
            <div>
                <app-counteroutput></app-counteroutput>
                <button (click)="onIncrement()" class="btn btn-primary m-3">Increment</button>
                <button (click)="onDecrement()" class="btn btn-secondary m-3">Decrement</button>
                <button (click)="onReset()" class="btn btn-warning m-3">Reset</button>
                <app-counter-custom-input></app-counter-custom-input>
            </div>
        </div>
    </div>
</div>